<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Unscrambler</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>


<body>
    <center>
        <h1>Word Unscrambler</h1>
        <h2>Enter your letters below</h2>
        <input type="text" id="letterInput" maxlength="6" placeholder="QWERTY">
        <br>
        <span><a id="submit" class="button-1" onclick="processLetters();">Submit</a></span>

    </center>
</body>

</html>